<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tongyuan.model.dao.AttachmentMapper">
    <resultMap id="baseResultMap" type="com.tongyuan.model.domain.Attachment">
        <id column="id" property="id" jdbcType="BIGINT"  />
        <result column="parent_id" property="parentId" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="ext" property="ext" jdbcType="VARCHAR"/>
        <result column="icon_url" property="iconUrl" jdbcType="VARCHAR"/>
        <result column="size" property="size" jdbcType="BIGINT"/>
        <result column="file_path" property="filePath" jdbcType="VARCHAR"/>
        <result column="http_path" property="httpPath" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="is_floder" property="isFloder" jdbcType="BOOLEAN"/>
        <result column="model_id" property="modelId" jdbcType="BIGINT"/>
        <result column="temp_relative_path" property="tempRelativePath" jdbcType="VARCHAR"/>
        <result column="identifier" property="identifier" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="DtoMap" type="com.tongyuan.model.DTO.AttachmentDto">
        <id column="id" property="id" jdbcType="BIGINT"  />
        <result column="parent_id" property="parentId" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="ext" property="ext" jdbcType="VARCHAR"/>
        <result column="icon_url" property="iconUrl" jdbcType="VARCHAR"/>
        <result column="size" property="size" jdbcType="BIGINT"/>
        <result column="file_path" property="filePath" jdbcType="VARCHAR"/>
        <result column="http_path" property="httpPath" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="is_floder" property="isFloder" jdbcType="BOOLEAN"/>
        <result column="model_id" property="modelId" jdbcType="BIGINT"/>
        <result column="temp_relative_path" property="tempRelativePath" jdbcType="VARCHAR"/>
        <result column="identifier" property="identifier" jdbcType="VARCHAR"/>
        <result column="modelName" property="modelName" jdbcType="VARCHAR"/>
        <result column="fileIconUrl" property="fileIconUrl" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="baseColumnList" >
        id,parent_id,name,ext,icon_url,size,file_path,http_path,create_time,is_floder,model_id,temp_relative_path
    </sql>

    <insert id="add" parameterType="com.tongyuan.model.domain.Attachment" useGeneratedKeys="true" keyProperty="id">
         INSERT INTO attachment (parent_id,name,ext,icon_url,size,file_path,http_path,create_time,is_floder,model_id,temp_relative_path,identifier) VALUES
         (#{parentId}, #{name}, #{ext},#{iconUrl}, #{size}, #{filePath},#{httpPath}, #{createTime}, #{isFloder},
        #{modelId},#{tempRelativePath},#{identifier})
    </insert>

    <update id="update">
         UPDATE attachment SET
        parent_id = #{parentId},name = #{name},ext = #{ext},icon_url = #{iconUrl},size = #{size}, file_path = #{filePath}, http_path = #{httpPath},
        create_time = #{createTime},is_floder = #{isFloder}, model_id = #{modelId},temp_relative_path = #{tempRelativePath},identifier = #{identifier}
        WHERE id = #{id}
    </update>
    <update id="batchUpdate"  parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            UPDATE attachment
            <set>
                model_id = #{item.modelId},
                parent_id = #{item.parentId}
            </set>
            <where>
                id = #{item.id}
            </where>
        </foreach>
    </update>
    <delete id="delete">
        DELETE FROM attachment where id = #{id}
    </delete>
    <select id="queryListByPath" resultMap="baseResultMap" resultType="com.tongyuan.model.domain.Attachment">
        SELECT  <include refid="baseColumnList" />
        from attachment
        where file_path = #{filePath}
    </select>
    <select id="getModelFiles" resultMap="baseResultMap" resultType="com.tongyuan.model.domain.Attachment">
        SELECT <include refid="baseColumnList" />
        FROM  attachment
        WHERE model_id = #{modelId} and is_floder = 1 and (icon_url is null or trim(icon_url)= '')
        or model_id = #{modelId} and parent_id = 0
    </select>
    <select id="getModelDetail" resultMap="DtoMap" resultType="com.tongyuan.model.DTO.AttachmentDto">
        <!--SELECT <include refid="baseColumnList" />-->
        <!--FROM  attachment-->
        <!--WHERE model_id = #{modelId} and temp_relative_path is not null-->
        SELECT *
        FROM  attachment a
        LEFT JOIN
        (
        SELECT b.*,c.fileIconUrl
        from file_type b
        LEFT JOIN
        (SELECT icon_url,id,icon_url as fileIconUrl
        from attachment
        where 1=1 )c
        on  b.attachment_id = c.id
        ) f
        on  a.ext = f.ext
        where a.model_id = #{modelId}
    </select>
    <select id="getAttachByParentId" resultMap="DtoMap" resultType="com.tongyuan.model.DTO.AttachmentDto">
        <!--SELECT <include refid="baseColumnList" />-->
        <!--FROM  attachment-->
        <!--where parent_id = #{parentId} or id = #{parentId}-->
        SELECT *
        FROM  attachment a
        LEFT JOIN
        (
        SELECT b.*,c.fileIconUrl
        from file_type b
        LEFT JOIN
        (SELECT icon_url,id,icon_url as fileIconUrl
        from attachment
        where 1=1 )c
        on  b.attachment_id = c.id
        ) f
        on  a.ext = f.ext
        where a.parent_id = #{parentId}
    </select>

    <select id="getParentAttach" resultMap="baseResultMap" resultType="com.tongyuan.model.domain.Attachment">
       SELECT * from  attachment n
        JOIN
        (SELECT * from attachment
        where id = #{attachmentId}) m
        on m.parent_id = n.id
    </select>
    <select id="getAllFiles" resultMap="DtoMap" resultType="com.tongyuan.model.domain.Attachment">
        SELECT *
            FROM
            (SELECT a.*,m.name AS modelName
                        from attachment a
                        LEFT JOIN
                        model m
                        on
                         m.id = a.model_id
                      where a.is_floder = false and m.is_deleted = 0 and m.scope = #{scope} and a.icon_url is null or trim(a.icon_url)= '') mo
            LEFT JOIN
            ( SELECT b.ext,c.fileIconUrl
                    from file_type b
                    LEFT JOIN
                    (SELECT icon_url,id,icon_url as fileIconUrl
                    from attachment
                    where 1=1 )c
                    on  b.attachment_id = c.id) fi
            on mo.ext = fi.ext
    </select>
    <select id="queryNullModelId" resultMap="baseResultMap" resultType="com.tongyuan.model.domain.Attachment">
        SELECT *
        from attachment
        where model_id = -1 or model_id = #{modelId}
    </select>
    <select id="queryById" resultMap="baseResultMap" resultType="com.tongyuan.model.domain.Attachment">
        SELECT <include refid="baseColumnList" />
        FROM  attachment
        WHERE id = #{attachmentId}
    </select>
    <select id="getAttachmentsByModelId" resultMap="baseResultMap" resultType="com.tongyuan.model.domain.Attachment">
        SELECT <include refid="baseColumnList" />
        FROM  attachment
        where model_id = #{modelId} and icon_url is null or trim(icon_url)= ''
    </select>
    <select id="getInsertIcon"  resultMap="baseResultMap" resultType="com.tongyuan.model.domain.Attachment">
        SELECT <include refid="baseColumnList" />
        FROM  attachment
        where model_id = -1 and icon_url is NOT NULL
    </select>
    <select id="getDeleteAttach" resultType="com.tongyuan.model.domain.Attachment">
         SELECT *
        from attachment
        where model_id = -1
    </select>
    <select id="getModelicaRelatedAttach" resultMap="baseResultMap" resultType="com.tongyuan.model.domain.Attachment">
        SELECT <include refid="baseColumnList" />
        from attachment
        where attachment.model_id = -2 and attachment.ext is NULL and attachment.size = 0
    </select>
    <select id="queryListById" resultMap="DtoMap" resultType="com.tongyuan.model.DTO.AttachmentDto">
        SELECT *
        FROM  attachment a
        LEFT JOIN
        (
        SELECT b.*,c.fileIconUrl
        from file_type b
        LEFT JOIN
        (SELECT icon_url,id,icon_url as fileIconUrl
        from attachment
        where 1=1 )c
        on  b.attachment_id = c.id
        ) f
        on  a.ext = f.ext
        where a.id = #{id}
    </select>
    <select id="getFilesOfModel" resultMap="DtoMap" resultType="com.tongyuan.model.DTO.AttachmentDto">
        SELECT *
        FROM  attachment a
        LEFT JOIN
        (
        SELECT b.*,c.fileIconUrl
        from file_type b
        LEFT JOIN
        (SELECT icon_url,id,icon_url as fileIconUrl
        from attachment
        where 1=1 )c
        on  b.attachment_id = c.id
        ) f
        on  a.ext = f.ext
        where a.model_id = #{modelId} and a.is_floder = 0
    </select>
</mapper>