<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tongyuan.model.dao.CaeComponentMapper">
    <sql id="baseColumnList">
        id,author,description,iconFile,name,requirements,runOS
    </sql>

    <insert id="add" parameterType="com.tongyuan.model.domain.CAE.CaeComponent">
        INSERT INTO
        cae_component
        (author,description,icon_file,name,requirements,runos)
        VALUES (#{author},#{description},#{iconFile},#{name},#{requirements},#{runOS})
    </insert>

</mapper>

