<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tongyuan.model.dao.CaeVariableMapper">
    <sql id="baseColumnlist">
        id,cae_file_id,delimiters,description,enum_aliases,enum_values,format,fortran_format,max,min,name,start_bookmark
        ,type,units,value,value_type
    </sql>

    <insert id="add" parameterType="com.tongyuan.model.domain.CAE.CaeVariable">
        INSERT INTO
        cae_variable
        (cae_file_id,delimiters,description,enum_aliases,enum_values,format,fortran_format,max,min,name,start_bookmark
        ,type,units,value,value_type)
        VALUES
        (#{caeFileId},#{delimiters},#{description},#{enumAliases},#{enumValues},#{format},#{fortranFormat},#{max},#{min},#{name},
        #{startBookmark},#{type},#{units},#{value},#{valueType})
    </insert>
</mapper>