<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tongyuan.model.dao.DepartMapper">


    <resultMap id="mapResultMap" type="map">
        <id column="id" property="id" jdbcType="INTEGER"  />
        <id column="parent_id" property="parentId" jdbcType="INTEGER"  />
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="baseColumnList" >
        id,parent_id,name,description,create_date
    </sql>
    <insert id="add"  parameterType="map">
        INSERT INTO depart (parent_id,name,description,create_date) VALUES
        (#{parentId}, #{name}, #{description},#{createDate})
    </insert>
    <update id="update"  parameterType="map">
        UPDATE depart SET name=#{name},description=#{description},parent_id=#{parentId}
        WHERE id=#{id}
    </update>
    <select id="query" resultMap="mapResultMap" resultType="map" >
        SELECT
        <include refid="baseColumnList" />
        FROM depart
        WHERE parent_id =0
    </select>
    <select id="queryAllDeparts" resultMap="mapResultMap" resultType="map" >
        SELECT
        <include refid="baseColumnList" />
        FROM depart
        WHERE 1=1
    </select>
    <select id="queryById" resultMap="mapResultMap"  parameterType="INTEGER" >
        SELECT
        <include refid="baseColumnList" />
        FROM depart
        WHERE id = #{id}
    </select>
    <select id="queryByPid" resultMap="mapResultMap" resultType="map" >
        SELECT
        <include refid="baseColumnList" />
        FROM depart
        WHERE parent_id =#{id}
    </select>
    <delete id="deleteById" parameterType="INTEGER">
        delete from depart where id=#{id}
    </delete>
    <delete id="deleteByPid" parameterType="INTEGER">
        delete from depart where parend_id=#{id}
    </delete>


</mapper>