<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tongyuan.model.dao.LogMapper">
    <resultMap id="baseResultMap" type="com.tongyuan.model.domain.Log">
        <id column="id" property="id" jdbcType="BIGINT"  />
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="user_ip" property="userIp" jdbcType="VARCHAR"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="real_name" property="realName" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="baseColumnList" >
        id, content, title,user_id,user_ip,create_date,user_name,real_name
    </sql>
    <insert id="add"  parameterType="com.tongyuan.model.domain.Log">
        INSERT INTO log (content, title,user_id,user_ip,create_date,user_name,real_name) VALUES
        (#{content}, #{title}, #{userId},#{userIp},#{createDate}, #{userName},#{realName})
    </insert>

    <select id="findAllLog" resultMap="baseResultMap" resultType="com.tongyuan.model.domain.Log">
        SELECT
        <include refid="baseColumnList" />
        FROM log
        WHERE
        1=1
    </select>
    <select id="queryLog" resultMap="baseResultMap" resultType="com.tongyuan.model.domain.Log" parameterType="java.util.HashMap">
        SELECT
        <include refid="baseColumnList" />
        FROM log
        WHERE
        1=1
        <if test="realName != null and realName !=''">
            and (real_name like CONCAT('%',#{realName},'%')
              or user_name like CONCAT('%',#{realName},'%'))
        </if>
        <if test="content != null and content !=''">
            AND content like  CONCAT(CONCAT('%',#{content,jdbcType=VARCHAR}),'%')
        </if>
        <if test="startTime != null and startTime !='' and endTime !=null and endTime !=''">
            AND create_date BETWEEN #{startTime} AND #{endTime}
        </if>
        ORDER BY create_date desc
    </select>

    <delete id="delete" parameterType="long">
        delete from log where id=#{id}
    </delete>


</mapper>