<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tongyuan.model.dao.ModelAuthMapper">

    <resultMap id="baseResultMap" type="com.tongyuan.model.domain.ModelAuth">
        <id column="id" property="id" jdbcType="BIGINT"  />
        <result column="uid" property="uid" jdbcType="BIGINT"/>
        <result column="model_id" property="modelId" jdbcType="BIGINT"/>
        <result column="mode" property="mode" jdbcType="TINYINT"/>
        <result column="node_id" property="nodeId" jdbcType="VARCHAR"/>

    </resultMap>

    <sql id="baseColumnList" >
        id,uid,model_id,mode,node_id
    </sql>
    <insert id="add"  parameterType="com.tongyuan.model.domain.ModelAuth"  >
        INSERT INTO model_auth (uid, model_id,mode,node_id) VALUES
        (#{uid}, #{modelId},#{mode},#{nodeId})
    </insert>
    <select id="queryByUid" resultMap="baseResultMap" resultType="map" parameterType="long">
        SELECT
        <include refid="baseColumnList" />
        FROM model_auth
        WHERE uid = #{uid}
    </select>
    <select id="queryByModelId" resultMap="baseResultMap" resultType="map" parameterType="long">
        SELECT
        <include refid="baseColumnList" />
        FROM model_auth
        WHERE model_id=#{modelId}
    </select>
    <delete id="deleteByUid" parameterType="long">
        delete from model_auth where uid=#{uid}
    </delete>
    <delete id="deleteByModelId" parameterType="long">
        delete from model_auth where model_id=#{modelId}
    </delete>


</mapper>