<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tongyuan.model.dao.ModelTypeMapper">
    <resultMap id="baseResultMap" type="com.tongyuan.model.domain.ModelType">
    <id column="id" property="id" jdbcType="BIGINT"  />
    <result column="icon" property="icon" jdbcType="BIGINT"/>
    <result column="name" property="name" jdbcType="VARCHAR"/>
    </resultMap>
    <resultMap id="DtoMap" type="com.tongyuan.model.DTO.ModelTypeDto">
        <id column="id" property="id" jdbcType="BIGINT"  />
        <result column="icon" property="icon" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="file_path" property="filePath" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="baseColumnList" >
    id,icon,name
    </sql>
    <select id="getModelTypeList" resultMap="DtoMap" resultType="com.tongyuan.model.DTO.ModelTypeDto">
        SELECT  *
        from model_type
        LEFT JOIN  attachment
        on model_type.icon = attachment.id
    </select>
    <select id="getByType" resultMap="baseResultMap" resultType="com.tongyuan.model.domain.ModelType">
        SELECT *
        from model_type
        where name = #{name}
    </select>
</mapper>