<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tongyuan.model.dao.PermissionItemMapper">
    <resultMap id="mapResultMap" type="map">
        <id column="id" property="id" jdbcType="BIGINT"  />
        <id column="group_id" property="groupId" jdbcType="BIGINT"  />
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="baseColumnList" >
        id,name,create_date,description,code,group_id,url
    </sql>
    <insert id="add"  parameterType="map">
        INSERT INTO permission_item (name, create_date,description,code,group_id,url) VALUES
        (#{name}, #{createDate}, #{description},#{code},#{groupId},#{url})
    </insert>
    <update id="update"  parameterType="map">
        UPDATE permission_item SET name=#{name},description=#{description},code=#{code},url=#{url}
        WHERE id=#{id}
    </update>
    <select id="query" resultMap="mapResultMap" resultType="map" parameterType="java.util.HashMap">
        SELECT
        <include refid="baseColumnList" />
        FROM permission_item
        WHERE group_id = #{id}
    </select>
    <delete id="delete" parameterType="long">
        delete from permission_item where id=#{id}
    </delete>


</mapper>