<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tongyuan.model.dao.ReviewModelMapper">
    <resultMap id="baseResultMap" type="com.tongyuan.model.domain.Model">
        <id column="id" property="id" jdbcType="BIGINT"  />
        <result column="parent_id" property="parentId" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="classes" property="classes" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="VARCHAR"/>
        <result column="directory_id" property="directoryId" jdbcType="BIGINT"/>
        <result column="discription" property="discription" jdbcType="VARCHAR"/>
        <result column="Import" property="Import" jdbcType="VARCHAR"/>
        <result column="Extends" property="Extends" jdbcType="VARCHAR"/>
        <result column="icon_file_id" property="iconFileId" jdbcType="BIGINT"/>
        <result column="diagram_file_id" property="diagramFileId" jdbcType="BIGINT"/>
        <result column="info_file_id" property="infoFileId" jdbcType="BIGINT"/>
        <result column="is_deleted" property="isDeleted" jdbcType="BOOLEAN"/>
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="last_update_time" property="lastUpdateTime" jdbcType="TIMESTAMP"/>
        <result column="scope" property="scope" jdbcType="BOOLEAN"/>
        <result column="model_text" property="modelText" jdbcType="LONGVARCHAR"/>
        <result column="iconUrl" property="iconUrl" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="baseColumnList" >
        id,parent_id,name,classes,type,directory_id,discription,Import,Extends,icon_file_id,diagram_file_id,
        info_file_id,is_deleted,user_id,create_time,last_update_time,scope,model_text
    </sql>

    <select id="queryAll" resultMap="baseResultMap">
    SELECT
        <include refid="baseColumnList"/>
        FROM model
        WHERE 1=1
    </select>

    <select id="queryByModelId" resultMap="baseResultMap" parameterType="java.lang.Long">
        SELECT
        <include refid="baseColumnList"/>
        FROM model WHERE id=#{modelId}
    </select>

    <select id="queryByModelName" resultMap="baseResultMap" parameterType="java.util.Map">
        SELECT
        <include refid="baseColumnList"/>
        FROM model WHERE 1=1
        <if test="modelName!=null and modelName!=''">
            AND name LIKE CONCAT(CONCAT('%',#{modelName,jdbcType=VARCHAR}),'%')
        </if>
    </select>
</mapper>