<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tongyuan.model.dao.RoleMapper">

    <resultMap id="mapResultMap" type="map">
        <id column="id" property="id" jdbcType="BIGINT"  />
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <collection property="auths" javaType="ArrayList" column="id"  select="selectRoleAuth"/>
        <collection property="directoryAuth" javaType="ArrayList" column="id"  select="selectDirectoryAuths"/>

    </resultMap>
    <select id="selectRoleAuth" resultType="map">
          SELECT
        d.auth_id,d.auth_name,d.auth_code,d.create_date,d.description,d.url,d.parent_id,
        l.auth_id
        FROM
        auth as d
        INNER JOIN role_auth as l
        ON d.auth_id=l.auth_id
        AND l.role_id=#{roleId}
        WHERE 1=1
    </select>


    <select id="selectDirectoryAuths"  resultType="map" >
       SELECT directory_id,role_id,mode
        FROM role_directory_auth
        WHERE role_id = #{roleId}
    </select>


    <sql id="baseColumnList" >
        id,name,create_date,description
    </sql>
    <insert id="add"  parameterType="map">
        INSERT INTO role (name, create_date,description) VALUES
        (#{name}, #{createDate}, #{description})
    </insert>
    <update id="update"  parameterType="map">
        UPDATE role SET name=#{name},description=#{description}
        WHERE id=#{id}
    </update>

    <select id="query" resultMap="mapResultMap" resultType="map" >
        SELECT
        <include refid="baseColumnList" />
        FROM role
        WHERE 1=1
        ORDER BY  create_date ASC
    </select>
    <delete id="delete" parameterType="long">
        delete from role where id=#{id}
    </delete>


</mapper>