#document-list-toolbar-buttons>* {
    margin: 0 5px;
}

#information {
    padding: 1px;
    height: 34px;
}
.btn-default.active, .btn-default:active, .btn-default:focus, .btn-default:hover, .open .dropdown-toggle.btn-default {
    color: #333;
    background-color: #ebebeb;
    border-color: #adadad;
}
.btn.active, .btn:active {
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}
.btn, .btn-danger.active, .btn-danger:active, .btn-default.active, .btn-default:active, .btn-info.active, .btn-info:active, .btn-primary.active, .btn-primary:active, .btn-warning.active, .btn-warning:active, .btn.active, .btn:active, .dropdown-menu>.disabled>a:focus, .dropdown-menu>.disabled>a:hover, .form-control, .navbar-toggle, .open .dropdown-toggle.btn-danger, .open .dropdown-toggle.btn-default, .open .dropdown-toggle.btn-info, .open .dropdown-toggle.btn-primary, .open .dropdown-toggle.btn-warning {
    background-image: none;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn, .btn-link {
    cursor: pointer;
    font-weight: 400;
}
.btn, .tooltip {
    -moz-user-select: none;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
input[type="button" i], input[type="submit" i], input[type="reset" i], input[type="file" i]::-webkit-file-upload-button, button {
                                                                                               padding: 1px 6px;
                                                                                           }
user agent stylesheet
input[type="button" i], input[type="submit" i], input[type="reset" i], input[type="file" i]::-webkit-file-upload-button, button {
                                                                                               align-items: flex-start;
                                                                                               text-align: center;
                                                                                               cursor: default;
                                                                                               color: buttontext;
                                                                                               background-color: buttonface;
                                                                                               box-sizing: border-box;
                                                                                               padding: 2px 6px 3px;
                                                                                               border-width: 2px;
                                                                                               border-style: outset;
                                                                                               border-color: buttonface;
                                                                                               border-image: initial;
                                                                                           }
user agent stylesheet
input, textarea, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 13.3333px Arial;
}
user agent stylesheet
input, textarea, select, button, meter, progress {
    -webkit-writing-mode: horizontal-tb;
}
user agent stylesheet
button {
    -webkit-appearance: button;
}
Inherited from div.enable-user-select.os-content-container
.enable-user-select, .toolbar-position-status {
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -moz-user-select: text;
    user-select: text;
}
.enable-user-select, .os-table-description .os-table-title, .toolbar-position-status {
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -moz-user-select: text;
    user-select: text;
}
Inherited from body.os-zendesk-hide
body {
    font-family: Flama,Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #333;
}
body {
    font-size: 14px;
    line-height: 1.428571429;
}
Inherited from html.wf-flama-n4-inactive.wf-inactive
html, html .halflings {
    -webkit-font-smoothing: antialiased!important;
}
html {
    font-size: 62.5%;
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
.cropArea img-crop canvas, html {
    -webkit-tap-highlight-color: transparent;
}
html, html .halflings {
    -webkit-font-smoothing: antialiased!important;
}
Pseudo ::before element
*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
Pseudo ::after element
*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.os-svg-icon.os-icon-large {
    height: 30px;
    width: 30px;
}
svg:not(:root) {
    overflow: hidden;
}
.os-svg-icon {
    height: 20px;
    width: 20px;
    vertical-align: middle;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
svg:not(:root), symbol, image, marker, pattern, foreignObject {
    overflow: hidden;
}
user agent stylesheet
html|* > svg {
    transform-origin: 50% 50% 0px;
}
user agent stylesheet
* {
    transform-origin: 0px 0px 0px;
}
Inherited from button#information.btn.btn-default.active
.btn-default.active, .btn-default:active, .btn-default:focus, .btn-default:hover, .open .dropdown-toggle.btn-default {
    color: #333;
    background-color: #ebebeb;
    border-color: #adadad;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn, .btn-link {
    cursor: pointer;
    font-weight: 400;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}
user agent stylesheet
input[type="button" i], input[type="submit" i], input[type="reset" i], input[type="file" i]::-webkit-file-upload-button, button {
                                                                                               align-items: flex-start;
                                                                                               text-align: center;
                                                                                               cursor: default;
                                                                                               color: buttontext;
                                                                                               background-color: buttonface;
                                                                                               box-sizing: border-box;
                                                                                               padding: 2px 6px 3px;
                                                                                               border-width: 2px;
                                                                                               border-style: outset;
                                                                                               border-color: buttonface;
                                                                                               border-image: initial;
                                                                                           }
user agent stylesheet
input, textarea, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 13.3333px Arial;
}
user agent stylesheet
input, textarea, select, button, meter, progress {
    -webkit-writing-mode: horizontal-tb;
}
Inherited from div.enable-user-select.os-content-container
.enable-user-select, .toolbar-position-status {
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -moz-user-select: text;
    user-select: text;
}
.enable-user-select, .os-table-description .os-table-title, .toolbar-position-status {
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -moz-user-select: text;
    user-select: text;
}
Inherited from body.os-zendesk-hide
body {
    font-family: Flama,Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #333;
}
body {
    font-size: 14px;
    line-height: 1.428571429;
}
Inherited from html.wf-flama-n4-inactive.wf-inactive
html, html .halflings {
    -webkit-font-smoothing: antialiased!important;
}
html {
    font-size: 62.5%;
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
.cropArea img-crop canvas, html {
    -webkit-tap-highlight-color: transparent;
}
html, html .halflings {
    -webkit-font-smoothing: antialiased!important;
}
Pseudo ::before element
*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
Pseudo ::after element
*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}



.btn-group>.btn-group:first-child>.btn:last-child, .btn-group>.btn-group:first-child>.dropdown-toggle, .btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.os-document-list-page-container .os-action-bar .os-button-group label {
    padding: 5px;
}
.btn .caret, .btn-group>.btn:first-child {
    margin-left: 0;
}
.btn-group-vertical>.btn.active, .btn-group-vertical>.btn:active, .btn-group-vertical>.btn:focus, .btn-group-vertical>.btn:hover, .btn-group>.btn.active, .btn-group>.btn:active, .btn-group>.btn:focus, .btn-group>.btn:hover, .input-group-btn>.btn:active, .input-group-btn>.btn:focus, .input-group-btn>.btn:hover {
    z-index: 2;
}
.btn-group-vertical>.btn, .btn-group>.btn {
    position: relative;
    float: left;
}
.btn-default.active, .btn-default:active, .btn-default:focus, .btn-default:hover, .open .dropdown-toggle.btn-default {
    color: #333;
    background-color: #ebebeb;
    border-color: #adadad;
}
.btn.active, .btn:active {
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}
.btn:focus, .btn:hover {
    color: #333;
    text-decoration: none;
}
.btn, .btn-danger.active, .btn-danger:active, .btn-default.active, .btn-default:active, .btn-info.active, .btn-info:active, .btn-primary.active, .btn-primary:active, .btn-warning.active, .btn-warning:active, .btn.active, .btn:active, .dropdown-menu>.disabled>a:focus, .dropdown-menu>.disabled>a:hover, .form-control, .navbar-toggle, .open .dropdown-toggle.btn-danger, .open .dropdown-toggle.btn-default, .open .dropdown-toggle.btn-info, .open .dropdown-toggle.btn-primary, .open .dropdown-toggle.btn-warning {
    background-image: none;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn, .btn-link {
    cursor: pointer;
    font-weight: 400;
}
.btn, .tooltip {
    -moz-user-select: none;
}
.glyphicon, label {
    font-weight: 400;
}
label {
    display: inline-block;
    margin-bottom: 5px;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
label {
    cursor: default;
}
Inherited from div.enable-user-select.os-content-container
.enable-user-select, .toolbar-position-status {
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -moz-user-select: text;
    user-select: text;
}
.enable-user-select, .os-table-description .os-table-title, .toolbar-position-status {
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -moz-user-select: text;
    user-select: text;
}
Inherited from body.os-zendesk-hide
body {
    font-family: Flama,Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #333;
}
body {
    font-size: 14px;
    line-height: 1.428571429;
}
Inherited from html.wf-flama-n4-inactive.wf-inactive
html, html .halflings {
    -webkit-font-smoothing: antialiased!important;
}
html {
    font-size: 62.5%;
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
.cropArea img-crop canvas, html {
    -webkit-tap-highlight-color: transparent;
}
html, html .halflings {
    -webkit-font-smoothing: antialiased!important;
}
Pseudo ::before element
*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
Pseudo ::after element
*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}



