.iconHover:hover{
	color: #66b1ff;
	cursor: pointer;
}
.hoverCursor
{
	cursor: pointer;
}
.icon {
   width: 1em; height: 1em;
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
}
.spanEllipsis{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: inline-block;
	
}
